
.container{
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}
p {
    margin :2px;
    font-size: 18px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.list{
    margin: 20px;
}
