.notActive {
    color: black;
}
.text-container {
    margin: auto;
    width: 86%;
}
.text-container h1 {
    margin: 100px 0 10px;
    text-align: left;
}
.text-container p {
    margin-bottom: 100px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
    text-align: justify;
    line-height: 30px;
}
@media screen and (max-width: 580px) {
    .text-container h1 {
        margin: 5px 0 20px;
    }
    .text-container p {
        margin-bottom: 10px;
        font-size: 16px;
    }
}

@media screen and (min-width: 581px) and (max-width: 1024px) {}