@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.navbar .container {
  margin: 0 auto !important;
  padding: 0 !important;
  max-width: 94%;
  height: fit-content;
}
.navbar {
  padding: 0 !important;
  width: 100vw;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  position: fixed !important;
  border-bottom: 1px none rgba(0, 0, 0, 0.1);
  z-index: 9999;
  transition: 0.4s all;
}
.navbar.colorChange {
  background-color: rgb(253, 253, 253);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.navbar-height {
  min-height: 65px;
  max-height: max-content;
}
.navbar-nav {
  margin-left: auto;
  height: 100% !important;
}
.navbar-light .nav-link {
  margin: 0 25px;
  height: 65px;
  display: flex !important;
  align-items: center;
  color: #3c4858 !important;
  font-size: 14px !important;
  background-color: transparent !important;
  font-weight: 550 !important;
  letter-spacing: 1px !important;
  line-height: 24px !important;
  text-transform: uppercase !important;
  transition: all 0.5s !important;
  font-family: "Nunito", sans-serif !important;
  text-decoration: none;
}
.navbar-light .nav-link:hover {
  text-decoration: none;
  color: #2f55d4 !important;
}
.navbar-light .nav-item:hover .dropdown-menu {
  display: block;
  transition: 1s all;
}
.nv-brand img {
  width: 80px;
  height: 100%;
  border-radius: 5px;
}
.nv-partner img {
  width: 80px;
  height: 40px;
}
.dropdown-toggle::after {
  transform: rotate(180deg);
  transition: transform 0.5s;
}
.dropdown-toggle:hover::after {
  transform: rotate(360deg);
  transition: transform 0.5s;
}
.dropdown-menu {
  position: absolute !important;
  left: 0 !important;
  z-index: 1000 !important;
  padding: 15px 0 !important;
  list-style: none !important;
  min-width: 180px !important;
  opacity: 1 !important;
  transition: all 0.5s ease !important;
  border-radius: 6px !important;
  background-color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 0 5px 1px rgb(60 72 88 / 0.1) !important;
  transition: all 0.2s;
}
.dropdown-menu-serivices .dropdown-menu {
  left: -400px !important;
  right: auto !important;
}
.dropdown-item {
  display: block !important;
  padding: 0 !important;
  clear: both !important;
  white-space: nowrap !important;
  font-size: 11px !important;
  text-transform: uppercase !important;
  transition: all 0.5s !important;
  text-decoration: none !important;
}
.navbar p:hover {
  text-decoration: none !important;
  color: #2f55d4 !important;
}
.nav-row {
  display: flex;
  flex-direction: row;
}
.col-pad {
  padding: 0 60px;
}
.nav-col h5 {
  padding: 0px 15px 15px !important;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  margin: auto;
  color: #000;
  letter-spacing: 1.3px;
}
.navbar p {
  padding: 10px 15px 10px !important;
  font-size: 13px;
  font-weight: 500;
  margin: 0;
  color: #000;
  letter-spacing: 1.3px;
}
.divider {
  display: none;
}
.partners {
  margin-left: 70px;
  width: auto;
  height: auto;
  display: flex;
}
.adobe-partner {
  margin: 0 10px;
  width: 80px;
  height: 40px;
  background-image: url("/src/assets/images/MitrahSoft_Adobe_Partner.png");
  background-repeat: no-repeat;
  background-size: contain;
}
/* .lucee-partner {
  margin: 0 10px;
  width: 100px;
  height: 50px;
  background-image: url("/src/assets/images/MitrahSoft_Lucee_partner.png");
  background-repeat: no-repeat;
  background-size: contain;
} */
.contact-us-button {
  padding: 8px 20px;
  width: 160px;
  border-radius: 50px;
  background-color: rgb(245, 61, 61);
  color: #fff !important;
  display: flex;
  justify-content: center;
  transition: all 0.3s;
}
.contact-us-button:hover {
  background-color: rgba(245, 61, 61, 0.8);
}
@media screen and (max-width: 580px) {
  .contact-us-button {
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    color: #3c4858 !important;
    font-size: 12px !important;
    font-weight: 550 !important;
    letter-spacing: 1px !important;
    line-height: 24px !important;
  }
  .nv-brand img {
    border-radius: 15px;
  }
  .navbar-light .nav-link {
    height: auto;
    display: flex !important;
    align-items: center;
    font-size: 12px !important;
    width: fit-content;
    margin: auto;
  }
  .nav-item {
    margin: auto;
  }
  .dropdown-menu {
    position: relative !important;
    left: 0 !important;
  }
  .dropdown-menu-serivices .dropdown-menu {
    left: auto !important;
    right: auto !important;
  }
  .navbar p {
    font-size: 12px !important;
  }
  .nav-row {
    display: flex;
    flex-direction: column;
    max-height: 450px;
    overflow-y: scroll;
  }
  .nav-col {
    padding: 20px 30px;
  }
  .nav-col p {
    font-size: 12px;
    font-weight: 500;
  }
  .divider {
    display: block;
  }
  .partners {
    display: none;
  }
  .navbar-height {
    min-height: auto;
  }
}
@media screen and (min-width: 581px) and (max-width: 991px) {
  .contact-us-button {
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    color: #3c4858 !important;
    font-size: 14px !important;
    font-weight: 550 !important;
    letter-spacing: 1px !important;
    line-height: 24px !important;
  }
  .nv-brand img {
    border-radius: 15px;
  }
  .navbar-light .nav-link {
    height: auto;
    display: flex !important;
    align-items: center;
    font-size: 14px !important;
    width: fit-content;
    margin: auto;
  }
  .nav-item {
    margin: auto;
  }
  .dropdown-menu {
    position: relative !important;
    left: 0 !important;
  }
  .dropdown-menu-serivices .dropdown-menu {
    left: auto !important;
    right: auto !important;
  }
  .nav-row {
    display: flex;
    flex-direction: column;
    max-height: 450px;
    overflow-y: scroll;
  }
  .nav-col {
    padding: 20px 60px;
  }
  .divider {
    display: block;
  }
  .partners {
    display: none;
  }
  .navbar-height {
    min-height: auto;
  }
}
