.commonContainerWrapper {
    min-width: 340px;
    width: 33%;
    display: flex;
}
.productDevContent .heading1 {
    width: auto;
}
.servicesContainer {
    width: 96%;
    flex-wrap: wrap;
}
.servicesContainer .para {
    color: rgba(0,0,0,0.4);
}
.containerWidth50 {
    width: 50%;
    min-width: 350px;
}
.imagesContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.image50 {
    min-width: 350px;
    width: 50%;
}
.service1 {
    background-image: url("/src/assets/images/services1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 80%;
    height: 400px;
    background-position: center;
}
.service2 {
    background-image: url("/src/assets/images/services2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 80%;
    height: 400px;
    background-position: center;
}
@media screen and (max-width: 580px) {
.commonContainerWrapper{
    justify-content: center;
    align-items: center;
}
.service1 {
    width: 350px;
    height: 200px;
}
.service2 {
    width: 350px;
    height: 200px;
}
}

@media screen and (min-width: 581px) and (max-width: 1024px) {
.service1 {
    width: 350px;
    height: 200px;
}
.service2 {
    width: 350px;
    height: 200px;
}
}